{% extends 'base.html' %}

{% block h1 %}
    Все заказы клиента {{ client.name | capfirst }}:
{% endblock h1 %}
{% block content %}
    <div>
        <ul>
            {% for order in orders %}
                <li>
                    <a href="{% url 'order_full' order.pk %}" target="_blank">Заказ номер {{ order.pk }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <h3>Все товары заказанные клиентом:</h3>
        <ul>
            {% for good in goods %}
                <li>
                    <b>{{ good.title }}, Date: {{ good.pk }}</b>
                </li>
            {% empty %}
                <i>заказанные товары отсутствуют</i>
            {% endfor %}
        </ul>
    </div>
{% endblock content %}